#title {
    font-size: 150%;
    text-align: center;
    color:rgb(54, 54, 54)

}

body {
 min-width: 100vw;
}

.centerHomeText {
    text-align: center;
}


#start {
    display: block;
    margin:auto;
}

#timerDisplay{
    display: inline-block;
    margin-top: 9px;
}


#feedback {
    text-align: center;
}

#scoreboard {
    width: 300px;
    margin:auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.clear {
    clear: both;
  }

#timerDisplay{
    border:solid;
    padding:0.5em;
    border-radius: 10px;
    border-color: rgb(145, 145, 145);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    width: 14.2ch;
    
}

#submitPlay,
.lastAns,
.ans{
    margin: 0.5em 0em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


#scoreboard-btns-container {
    width: 300px;
    display:flex;
    align-content: flex-end;
    margin: 5px auto;
    
}

#scoreboard-btns-container button {
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 1px 3px, rgba(0, 0, 0, 0.30) 0px 1px 2px;
}

.page-heading {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto 1rem auto;
    color: rgb(7, 103, 192);
}

hr {
    width: 50%;
    margin: 0 auto 2rem auto;
    min-width: 300px;
}

.nav-btn {
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

#rulesContainer {
    width: 500px;
    margin: 0 auto 1rem auto;
}

#rulesTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

#nameInput {
    margin-right: 2rem;
}

#submitPlay {
    margin-bottom: 12px;
}

#scoreMessage {
    margin-top: 1rem;
    font-size: 2rem;
}

#scoreMessage span{
    color: rgb(0, 89, 255);
    font-size: 2rem;
}

@media only screen and (max-width:  770px) {
    .nav-btn {
        margin-left: 5px;
    } 
}