#title {
    font-size: 150%;
    text-align: center;
    color:rgb(54, 54, 54)

}

.centerHomeText {
    text-align: center;
}


#start {
    display: block;
    margin:auto;
}

#timerDisplay{
    display: inline-block;
    margin-top: 9px;
}


#feedback {
    text-align: center;
}

#scoreboard {
    width: 300px;
    margin:auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.clear {
    clear: both;
  }

#timerDisplay{
    border:solid;
    padding:0.5em;
    border-radius: 10px;
    border-color: rgb(145, 145, 145);
}

.ans{
    margin: 0.5em 0em;
}


#scoreboard-btns-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin:1rem auto;
    
}

#scoreboard-btns-container button {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.page-heading {
    text-align: center;
    font-size: 2rem;
    margin: 1rem auto;
    color: rgb(7, 103, 192);
}

hr {
    width: 70%;
    margin: 0 auto 2rem auto;
}